table{
    border: solid 2px #333;
    margin: 0 auto;
    background-color: #faf3f3e4;
    thead{
        background-color: #777;
        color:rgb(28, 28, 2);
        text-align: center;
        font-weight: 700;
    }
    td{
        padding:8px;
    }
}